$black = #2B2D42
$grayDark = #515364
$gray = #787986
$grayLight = #C5C5CB
$extraLightGray = #EBECF3
$green = #3EBC43
$red = #F44336
$orange = #FE7F2D
$violet = #552DFF
$dark-bg = $black

$light = 'DINNextLTPro-Light', sans-serif
$regular = 'DINNextLTPro-Regular', sans-serif
$medium = 'DINNextLTPro-Medium', sans-serif
$bold = 'DINNextLTPro-Bold', sans-serif
$semibold = 500

$bg-color = $black
$background-gradient = linear-gradient(top, #D3DCE7, #D3E5E7)

$shadow = 0 2px 4px 0 rgba(0, 0, 0, 0.05)
